f  <%= simple_form_for @wine, html: {class: 'form-inline' } do |f| %>
    <% if @wine.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

        <ul>
        <% @wine.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class='left-column'>
      <%= f.input :color, as: :radio_buttons, collection: ['Red', 'White', 'Rosé'], wrapper_class: 'color-selector' %>
      <%= f.input :grape_variety, collection: ['1st select a color'], include_blank: false %>
      <%= f.input :brand %>
      <%= f.input :year, collection: 2000..2020, include_blank: true %>
      <%= f.input :picture, as: :file %>
    </div>
    <div class='right-column'>
      <%= f.input :price, placeholder: 'example: 13.99', hint: "don't bother with the $ sign" %>
      <%= f.input :rating, as: :radio_buttons, collection: 1..5, hint: '1 = bleh, 5 = wowza' %>
      <%= f.input :bubbly, as: :radio_buttons %>
      <%= f.input :description, placeholder: 'optional', wrapper_class: 'last-item' %>
    </div>
    <%= f.button :submit, 'Submit', class: "silver-btn btn btn-lg" %>
  <% end %>
</div>